#mainheader ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}

#mainheader li {
    text-align: center; 
}

#mainheader a {
    font-size: 16px; 
    padding: 10px 20px;
    display: inline-block;
}

#mainheader .subscribe {
    text-align: left;
    color: #333;
    
}

#mainheader .pohang-times {
    text-decoration: none;
    color: black;
    font-family: "Playfair Display", Georgia, "Times New Roman", serif /*rtl:Amiri, Georgia, "Times New Roman", serif*/;
    font-size: 2.25rem;
}

#mainheader .sign-up {
    text-decoration: none;
    text-align: right; 
    color: #666; 
    background-color: #ffffff; 
    border-radius: 5px;
    padding: 10px 20px; 
    border: 1px solid #666;
}

#container {
    margin-top: 5px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: auto;

}

header {
    border-bottom: 0.5px solid gray;
}