/* 기본적인 box-sizing 설정을 모든 요소에 적용 */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    height: 40vh;
    margin: 0;
    padding: 0;
}

#mainheader ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#mainheader li {
    text-align: center;
}

#mainheader a {
    font-size: 16px;
    padding: 10px 20px;
    display: inline-block;
}

#mainheader .subscribe {
    text-align: left;
    color: #333;
}

#menu ul {
    list-style: none;
    justify-content: space-between;
    display: flex;
    text-align: left;
}

#menu {
    margin: 0;
    padding: 0;
    border-bottom: 0.5px solid #333;
    padding-bottom: 10px;
}

#mainheader .pohang-times {
    text-decoration: none;
    color: black;
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-size: 2.25rem;
}

#mainheader .sign-up {
    text-decoration: none;
    text-align: right;
    color: #666;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px 20px;
    border: 1px solid #666;
}

#container {
    margin-top: 5px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: auto;
    height: 100%;
}

header {
    border-bottom: 0.5px solid gray;
}

#mainnews {
    display: flex;
    margin-top: 10px;
    width: 100%;
    height: auto; /* 높이를 자동으로 설정하여 콘텐츠에 맞춤 */
    background-color: #d3d3d3;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden; /* 박스 넘침 방지 */
}

#mainnewsletter {
    flex: 1;
    padding-right: 20px;
    box-sizing: border-box;
    overflow: hidden; /* 박스 넘침 방지 */
}

#mainnewsblank {
    flex: 1;
}

#mainnews h1 {
    font-size: calc(1.475rem + 2.7vw);
    font-weight: 300;
    line-height: 1.2;
    margin: 0;
    overflow-wrap: break-word; /* 단어가 너무 길 때 줄바꿈 */
}

#mainnewsletter p {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
    font-size: 1.25rem;
    font-weight: 300;
    overflow-wrap: break-word; /* 단어가 너무 길 때 줄바꿈 */
}

#mainnewsletter a {
    font-size: 1.5rem;
    color: #333;
    text-decoration: none;
    overflow-wrap: break-word; /* 단어가 너무 길 때 줄바꿈 */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

#subnews1 {
    width: 45%;
    float: left;
    border: 1px solid #666;
    height: auto; /* 높이를 콘텐츠에 맞게 설정 */
    overflow: hidden; /* 박스 넘침 방지 */
}

#subnews2 {
    width: 45%;
    float: left;
    margin-left: 3%;
    border: 1px solid #666;
    height: auto; /* 높이를 콘텐츠에 맞게 설정 */
    overflow: hidden; /* 박스 넘침 방지 */
}

#subnews {
    margin-left: 3%;
    height: auto; /* 높이를 콘텐츠에 맞게 설정 */
    padding-top: 5%;
}

#subnews #contents {
    float: left;
    width: 50%;
    overflow-wrap: break-word; /* 단어가 너무 길 때 줄바꿈 */
}

#subnews #thumbnail {
    float: left;
    width: 50%;
    height: 100%;
    background-color: #666;
    text-align: center;
    line-height: 1.5; /* 텍스트 정렬 및 높이 조정 */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* 박스 넘침 방지 */
}
