body {
    font: 100% Lucida Sans, Verdana;
    margin: 20px;
    line-height: 26px;
}

.container {
    max-width: 1200px; /* Ensuring container width */
    margin: 0 auto; /* Centering the container */
}

.wrapper {
    position: relative;
    overflow: hidden; /* Clearing floats */
}

#top {
    background-color: #04aa6d;
    color: #ffffff;
    padding: 15px;
    border-radius: 4px;
    margin: 4px 0;
}

#menubar {
    width: 200px; /* Fixed width for menubar */
    float: left;
    margin-right: 10px; /* Margin to separate it from main */
}

#main {
    padding: 10px;
    margin-left: 220px; /* Offset by menubar's width + margin */
    margin-right: 210px; /* Offset for sidebar's width */
}

#sidebar {
    background-color: #32a4e7;
    color: #ffffff;
    padding: 10px;
    width: 180px; /* Fixed width for sidebar */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 4px;
    margin: 4px 0;
}

#bottom {
    border: 1px solid #d4d4d4;
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
    font-size: 70%;
    line-height: 14px;
    clear: both; /* Clear floats to prevent overlapping */
    margin-top: 10px;
}

ul {
    padding-inline-start: 40px;
}

.menuitem {
    background-color: #f1f1f1;
    border: 1px solid #d4d4d4;
    list-style-type: none;
    padding: 2px;
    cursor: pointer;
    border-radius: 4px;
    margin: 4px 0;
}

.menuitem:first-child {
    background-color: #04AA6D;
    color: white;
    font-weight: bold;
}

.menuitem:hover {
    background-color: #ffffff;
    color: #04AA6D;
}

a {
    color: #000000;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

@media (max-width: 800px) {
    #sidebar {
        width: auto;
        position: relative;
        margin-left: 0;
        margin-right: 0;
    }
    #main {
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 600px) {
    #menubar {
        width: auto;
        float: none;
    }
    #main {
        margin: 0;
    }
}
